name: Deploy
on: [push]

jobs:
  deploy:
    environment: wrangler-deploy
    runs-on: ubuntu-latest
    name: Deploy
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          # static files, Vite uses dist
          command: pages deploy dist --project-name=pages-frontend
          
